<mat-card class="card" [ngClass]="{
  'red':thing.finish_date<nowdate
}">
    <mat-card-title>
        <span>{{thing.name | twoWords}}</span>
    </mat-card-title>
    <mat-card-content>
        <b>Статус: </b>
        <span *ngIf="!isEditting">{{thing.status ? 'Done' : 'Not done'}}</span>
        <input type="number" width="100px" min="0" max="1" *ngIf="isEditting" class="thing-inp" [value]="thing.status ? 1 : 0" (input)="thing.status = $event.target.value == 1 ? true : false" />
        <br />

        <b>Дата окончания: </b>
        <span *ngIf="!isEditting">{{thing.finish_date | date}}</span>
        <input type="date" *ngIf="isEditting" type="text" class="thing-inp" [value]="thing.finish_date | date:'yyyy-MM-dd'" (input)="thing.finish_date=$event.target.value" />
        <br />
    </mat-card-content>
    <mat-card-actions>
        <button type="button" class="btn btn-info" (click)="onEdit()">Изменить</button>
        <button type="button" class="btn btn-info" (click)="onDelete()" color="warn">Удалить</button>
    </mat-card-actions>
</mat-card>
